*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
}

.header {
  margin-bottom: -100px;
}
.header .swiper-container .swiper-wrapper {
  width: 100%;
  height: calc(100vh + 100px);
}
.header .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}
.header .swiper-container .swiper-wrapper .swiper-slide img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.header .swiper-container .swiper-wrapper .swiper-slide .swiper-content {
  position: absolute;
  color: #FF7400;
  font-family: inherit;
}
@media (max-width: 399px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content {
    top: 40%;
    left: 20%;
  }
}
@media (min-width: 400px) and (max-width: 899px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content {
    top: 30%;
    left: 20%;
  }
}
@media (min-width: 900px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content {
    top: 35%;
    left: 25%;
  }
}
@media (max-width: 399px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content h2 {
    font-size: 40px;
    font-weight: bolder;
  }
}
@media (min-width: 400px) and (max-width: 899px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content h2 {
    font-size: 90px;
    font-weight: bolder;
  }
}
@media (min-width: 900px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content h2 {
    font-size: 90px;
    font-weight: bolder;
  }
}
@media (max-width: 399px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content p {
    font-size: 30px;
  }
}
@media (min-width: 400px) and (max-width: 899px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content p {
    font-size: 50px;
  }
}
@media (min-width: 900px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content p {
    font-size: 60px;
  }
}
.header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button {
  padding: 5px 15px;
  background: #FF7400;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 3px 3px 10px #FF7400;
  transition: 1s;
}
.header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button:hover {
  transform: scale(1.1);
}
.header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button a {
  text-decoration: none;
  color: #000;
}
@media (max-width: 399px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button a {
    font-size: 20px;
  }
}
@media (min-width: 400px) and (max-width: 899px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button a {
    font-size: 25px;
  }
}
@media (min-width: 900px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button a {
    font-size: 30px;
  }
}
.header__container {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}
.header__menu {
  height: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  color: #f3f3f2;
  font-size: 50px;
  font-weight: bold;
}
.header__logo span {
  color: #FF7400;
  font-weight: bolder;
}
.header__li {
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 899px) {
  .header__li {
    display: none;
  }
}
.header__li li {
  margin: 0 20px;
}
.header__li a {
  font-size: 20px;
  text-decoration: none;
  color: #f3f3f2;
  font-weight: bold;
}
.header__li a:hover {
  color: #FF7400;
}
@media (max-width: 399px) {
  .header__social {
    display: none;
  }
}
.header__social img {
  margin: 0 10px;
  width: 20px;
}

.content1 {
  margin: 0 auto;
  width: 80%;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.content1__card {
  min-width: 250px;
  height: 250px;
  margin-bottom: 50px;
  position: relative;
  perspective: 1000px;
  z-index: 3;
}
.content1__card:hover .front {
  transform: rotateY(180deg);
}
.content1__card:hover .back {
  transform: rotateY(360deg);
}
.content1__card .front, .content1__card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  border-radius: 10px;
}
.content1__card .front h3, .content1__card .back h3 {
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 25px;
}
.content1__card .front h4, .content1__card .back h4 {
  font-size: 20px;
}
.content1__card .front {
  background: #FF7400;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f3f3f2;
  padding: 20px;
}
.content1__card .front img {
  width: 50px;
  height: 50px;
}
.content1__card .back {
  background: #000;
  border: 2px solid #FF7400;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #f3f3f2;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.content1__card .back p {
  margin-top: 10px;
}

.geo {
  padding-top: 20px;
  width: 100%;
  background: #322E2E;
  color: #f3f3f2;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.geo span {
  color: #FF7400;
  font-weight: bolder;
}
.geo__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding: 50px;
}
@media (max-width: 399px) {
  .geo__wrapper {
    padding: 10px;
  }
}
@media (min-width: 400px) and (max-width: 899px) {
  .geo__wrapper {
    padding: 10px;
  }
}
.geo__left {
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
  position: relative;
  width: 100%;
}
.geo__right {
  text-align: left;
  padding: 50px;
}
@media (min-width: 400px) and (max-width: 899px) {
  .geo__right {
    text-align: center;
    padding: 20px;
  }
}
@media (max-width: 399px) {
  .geo__right {
    padding: 5px;
  }
}
.geo__right h3 {
  font-size: 30px;
  margin: 50px 0;
}
@media (min-width: 400px) and (max-width: 899px) {
  .geo__right h3 {
    margin: 0;
  }
}
@media (max-width: 399px) {
  .geo__right h3 {
    font-size: 25px;
    margin: 0;
  }
}
.geo__right h4 {
  font-size: 30px;
}
@media (max-width: 399px) {
  .geo__right h4 {
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0;
  }
}
.geo__right span {
  font-size: 20px;
}
@media (max-width: 399px) {
  .geo__right span {
    font-size: 15px;
    font-weight: normal;
  }
}
.geo__frame {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (max-width: 399px) {
  .geo__left, .geo__right {
    width: 100%;
  }
}
@media (min-width: 400px) and (max-width: 899px) {
  .geo__left, .geo__right {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .geo__left, .geo__right {
    width: 50%;
  }
}
.geo__social img {
  margin: 50px;
  width: 50px;
  height: 50px;
}
@media (min-width: 400px) and (max-width: 899px) {
  .geo__social img {
    margin: 20px;
  }
}
@media (max-width: 399px) {
  .geo__social img {
    margin: 5px;
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=main.css.map */
