*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
}

.header .swiper-container .swiper-wrapper {
  width: 100%;
  height: calc(100vh + 100px);
}
.header .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}
.header .swiper-container .swiper-wrapper .swiper-slide img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.header .swiper-container .swiper-wrapper .swiper-slide .swiper-content {
  position: absolute;
  color: #f58621;
  font-family: inherit;
}
@media (max-width: 399px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content {
    top: 40%;
    left: 20%;
  }
}
@media (min-width: 400px) and (max-width: 899px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content {
    top: 30%;
    left: 20%;
  }
}
@media (min-width: 900px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content {
    top: 35%;
    left: 25%;
  }
}
@media (max-width: 399px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content h2 {
    font-size: 40px;
    font-weight: bolder;
  }
}
@media (min-width: 400px) and (max-width: 899px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content h2 {
    font-size: 90px;
    font-weight: bolder;
  }
}
@media (min-width: 900px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content h2 {
    font-size: 90px;
    font-weight: bolder;
  }
}
@media (max-width: 399px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content p {
    font-size: 30px;
  }
}
@media (min-width: 400px) and (max-width: 899px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content p {
    font-size: 50px;
  }
}
@media (min-width: 900px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content p {
    font-size: 60px;
  }
}
.header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button {
  padding: 5px 15px;
  background: #f58621;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 3px 3px 10px #f58621;
  transition: 1s;
}
.header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button:hover {
  transform: scale(1.1);
}
.header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button a {
  text-decoration: none;
  color: #000;
}
@media (max-width: 399px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button a {
    font-size: 20px;
  }
}
@media (min-width: 400px) and (max-width: 899px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button a {
    font-size: 25px;
  }
}
@media (min-width: 900px) {
  .header .swiper-container .swiper-wrapper .swiper-slide .swiper-content button a {
    font-size: 30px;
  }
}
.header__container {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}
.header__menu {
  height: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  color: #f3f3f2;
  font-size: 50px;
  font-weight: bold;
}
.header__logo span {
  color: #f58621;
  font-weight: bolder;
}
.header__li {
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 899px) {
  .header__li {
    display: none;
  }
}
.header__li li {
  margin: 0 20px;
}
.header__li a {
  font-size: 20px;
  text-decoration: none;
  color: #f3f3f2;
  font-weight: bold;
}
@media (max-width: 399px) {
  .header__social {
    display: none;
  }
}
.header__social img {
  margin: 0 10px;
  width: 20px;
}
/*# sourceMappingURL=main.css.map */
