$mainFontcolor: #f3f3f2;
$secondFontColor: #f58621;
$darkFontColor: #322E2E;




$headerHeight: calc(100vh + 100px);

//@media (max-width: 399px) {
//}
//@media (min-width: 400px) and (max-width: 899px) {
//}
//@media (min-width: 900px) {
//}