.main-header__menu {
  width: 100%;
  height: 10rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
  font-family: inherit;
  color: $mainFontcolor;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.main-header__menu {
  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
  }
}

.header-menu__logo {
  margin: auto 0;
  font-family: inherit;
  font-size: 3.5rem;
  font-weight: bolder;
}

.header-menu__menu {
  display: flex;
  border-right: 1px solid $mainFontcolor;
  margin: auto 0;
  height: 50%;
}

.menu-list {
  a {
    margin: auto 20px;
    padding: 1.5rem 0;
    line-height: 5rem;
    font-family: inherit;
    color: $mainFontcolor;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $secondFontColor;
      border-bottom: 1px solid $secondFontColor;
    }
  }
}

.social {
  display: flex;
  margin: auto 0;
  height: 25%;
  .social-img {
    height: 2.5rem;
    margin: auto 1rem;
  }
}